<div class="row">
  <div class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
      <div class="form-group">
        <label for="fname">Name</label>
        <input
          [(ngModel)]="user.first_name"
          name="fname"
          type="text"
          class="form-control"
          pattern="^[A-Z][a-z]{2,}$"
          required
        />
        <div [hidden]="userForm.controls.fname?.valid" class="error-message">
          A vezetéknév nagybetűvel kezdődik, és minimum 3 karakter hosszú!
        </div>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input
          [(ngModel)]="user.last_name"
          name="lname"
          type="text"
          class="form-control"
          required
          pattern="^[A-Z][a-z]{2,}$"
        />
        <div [hidden]="userForm.controls.lname?.valid" class="error-message">
          A keresztnév nagybetűvel kezdődik, és minimum 3 karakter hosszú!
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          [(ngModel)]="user.gender"
          name="gender"
          type="text"
          class="form-control"
          required
          pattern="^[A-Z][a-z]{3,}$"
        />
        <div [hidden]="userForm.controls.gender?.valid" class="error-message">
          A gender nagybetűvel kezdődik, és minimum 3 karakter hosszú!
        </div>
      </div>
      <div class="form-group">
        <label for="email">Gender</label>
        <input
          [(ngModel)]="user.gender"
          name="email"
          type="text"
          class="form-control"
          required
          pattern="^[A-Z][a-z]{3,}$"
        />
        <div [hidden]="userForm.controls.email?.valid" class="error-message">
          A gender nagybetűvel kezdődik, és minimum 3 karakter hosszú!
        </div>
      </div>
                        <!--
  ip_address: string = '';
  position: string = 'user';
  rights -->

      <button
        [disabled]="userForm.invalid || updating"
        class="btn btn-block btn-primary"
      >
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>
