<div class="row my-3">
  <div class="col-6 offset-3">
    <h3>User admin page</h3>
  </div>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
      <div class="form-group">
        <label for="fname">Name</label>
        <input
          [(ngModel)]="user.first_name"
          name="fname"
          type="text"
          class="form-control"
          pattern="^[A-Z][a-z]{2,}$"
          required
        />
        <div [hidden]="userForm.controls.fname?.valid" class="error-message">
          A vezetéknév kötelezően nagybetűvel kezdődik, és minimum 3 karakter hosszú!
        </div>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input
          [(ngModel)]="user.last_name"
          name="lname"
          type="text"
          class="form-control"
          required
          pattern="^[A-Z][a-z]{2,}$"
        />
        <div [hidden]="userForm.controls.lname?.valid" class="error-message">
          A keresztnév kötelezően nagybetűvel kezdődik, és minimum 3 karakter hosszú!
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          [(ngModel)]="user.gender"
          name="gender"
          type="text"
          class="form-control"
          required
          pattern="^[A-Z][a-z]{3,}$"
        />
        <div [hidden]="userForm.controls.gender?.valid" class="error-message">
          A gender kötelezően nagybetűvel kezdődik, és minimum 4 karakter hosszú!
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          [(ngModel)]="user.email"
          name="email"
          type="text"
          class="form-control"
          required
          pattern="^[a-z]+@[a-z]+\.[a-z]{2,3}$"
        />
        <div [hidden]="userForm.controls.email?.valid" class="error-message">
          Az email-cím kötelezően xxx@xxx.xxx alakú!
        </div>
      </div>
                        <!--
  ip_address: string = '';
  position: string = 'user';
  rights -->

      <button
        [disabled]="userForm.invalid || updating"
        class="btn btn-block btn-primary"
      >
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>
