<div class="row my-3">
  <div class="col-6 offset-3">
    <h3>User admin page</h3>
  </div>
</div>
<div class="row">
  <!-- <div *ngIf="user$ | async as user" class="col-6 offset-3"> -->
  <div class="col-6 offset-3">
    <!-- <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)"> -->
    <form #userForm="ngForm" (ngSubmit)="onUpdate(userForm, user)">
      <div class="form-group">
        <label for="fname">First name<small> *</small></label>
        <input
          [(ngModel)]="user.first_name"
          id="fname"
          name="first_name"
          type="text"
          class="form-control"
          pattern="^[A-ZÁÉÍÓÖŐÚÜŰ][a-záéíóöőúüű]*( [A-ZÁÉÍÓÖŐÚÜŰ][a-záéíóöőúüű]*\.?)*$"
          required
          />
        <div [hidden]="userForm.controls.first_name?.valid || userForm.controls.first_name?.pristine"
        class="error-message">
          Must contain one or more alphabetic tags started with capital letter!
        </div>
      </div>
      <div class="form-group">
        <label for="lname">Last name<small> *</small></label>
        <input
          [(ngModel)]="user.last_name"
          id="lname"
          name="last_name"
          type="text"
          class="form-control"
          required
          pattern="^[A-ZÁÉÍÓÖŐÚÜŰ][a-záéíóöőúüű]{2,}( [A-ZÁÉÍÓÖŐÚÜŰ][a-záéíóöőúüű]{2,})*$"
          />
        <div [hidden]="userForm.controls.last_name?.valid || userForm.controls.last_name?.pristine"
        class="error-message">
          Must contain one or more alphabetic tags each having capital letter leading and at least 3 chars!
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender<small> *</small></label>
        <input
          [(ngModel)]="user.gender"
          id="gender"
          name="gender"
          type="text"
          class="form-control"
          required
          pattern="^[a-ű]{3,}$"
        />
        <div [hidden]="userForm.controls.gender?.valid || userForm.controls.gender?.pristine"
        class="error-message">
          Primarily the retrograd male or female, but you can create your own one (such as cat, dog, rat or even snake) at will. At least 3 chars long.
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail<small> *</small></label>
        <input
          [(ngModel)]="user.email"
          id="email"
          name="email"
          type="text"
          class="form-control"
          required
          pattern="^[a-z0-9]+(\.[a-z0-9]+)?@[a-z0-9]+\.[a-z]{2,3}$"
        />
        <div [hidden]="userForm.controls.email?.valid || userForm.controls.email?.pristine"
        class="error-message">
          Must be xxx@xxx.xxx or xxx.xxx@xxx.xxx of form! (The closing xxx tag may have 2 or 3 chars.)
        </div>
      </div>
      <div class="form-group">
        <label for="ip">IP address<small> *</small></label>
        <input
          [(ngModel)]="user.ip_address"
          id="ip"
          name="ip_address"
          type="text"
          class="form-control"
          required
          pattern="^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$"
          />
        <div [hidden]="userForm.controls.ip_address?.valid || userForm.controls.ip_address?.pristine" class="error-message">
          Must have the form of xxx.xxx.xxx.xxx, where xxx are numbers between 0 and 255.
        </div>
      </div>
      <div class="form-group">
        <label for="position">Position<small> *</small></label>
        <input
          [(ngModel)]="user.position"
          id="position"
          name="position"
          type="text"
          class="form-control"
          required
          pattern="^(user|admin)$"
        />
        <div [hidden]="userForm.controls.position?.valid" class="error-message">
          Enter either user or admin.
        </div>
      </div>
      <div class="form-group mb-0">
        <label for="rights">Rights<small> *</small></label>
        <input
          [(ngModel)]="user.rights"
          id="rights"
          name="rights"
          type="text"
          class="form-control"
          required
          pattern="^([R]?[U]?[C]?[D]?)$"
        />
        <div [hidden]="userForm.controls.rights?.valid" class="error-message">
          Consists of only the R, U, C, D chars in this strict order.
        </div>
      </div>
      <small>* Obligatory fields</small>


      <button
        [disabled]="userForm.invalid || updating"
        class="btn btn-block btn-primary mt-3"
      >
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>
