<div class="jumbotron mt-3 pt-4 pb-5">
  <h1 class="display-3">Users</h1>
  <!-- <p class="lead">is an American superhero drama television series created by Tim Kring that appeared on NBC for four seasons from
  September 25, 2006 to February 8</p> -->
  <p class="lead pt-2">this is an immediate page. If you want to edit users' properties (such as name, gender, email or IP address, position
    or rights, choose User list page, to add a new user, choose Add new user. Id is given by the sytem, and cannot be edited.) </p>
  <hr class="my-2 pb-2">
  <p>This software is created by Tim Kring, Withe Jack Coleman, Hayden Panettiere, Milo Ventimiglia, Masi Oka. Copyright 2021 </p>
  <p class="lead pt-3">
    <a class="btn btn-primary btn-lg" routerLink="/users" role="button">Forward to Userlist page</a>
  </p>
</div>
