
<div>
  <h3 class="mt-3 mb-0">Userlist page</h3>
<div class="row">
  <div class="col-7 offset-2 pr-0">
    <p class="text-right pt-2">{{ searchText }}</p>
  </div>
  <!-- <div class="col-4 offset-8 mt-0 mb-3"> -->
  <div class="col-3 mt-0 mb-3">
    <!-- <input [formControl]="phraseControl" type="text" class="form-control"
       placeholder="Choose a key + type in filter criteria"
       > -->
    <input [formControl]="phraseControl" type="text" class="form-control ml-0"
       placeholder="to filter type in filter criteria"
       >
  </div>
</div>
    <div class="col-12 mb-3 mx-0 px-0">
      <button
        [routerLink]="[0]"
        class="btn btn-success btn-block btn-lg"
      >
        <i class="fa fa-pencil"></i> Add new user
      </button>
    </div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead class="userTableColumn">
        <tr>
          <th (click)="onColumnSelect('id')">
            <i class="fa fa-up"></i>
            #</th>
          <th (click)="onColumnSelect('first_name')">Fname</th>
          <th (click)="onColumnSelect('last_name')">Lname</th>
          <th (click)="onColumnSelect('gender')">Gender</th>
          <th (click)="onColumnSelect('email')">Email</th>
          <th (click)="onColumnSelect('ip_address')">IP-address</th>
          <th (click)="onColumnSelect('position')">Position</th>
          <th (click)="onColumnSelect('rights')">Rights</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let user of userList$ | async"> -->
        <!-- <tr *ngFor="let user of userList$ | async | filter:phrase"> -->
        <tr *ngFor="let user of userList$ | async | filter:phrase:columnKey | sorter:columnKey:order">
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.ip_address }}</td>
          <td>{{ user.position }}</td>
          <td>{{ user.rights }}</td>
          <td>
            <div class="btn-group">
            <button [routerLink]="[user.id]" class="btn btn-info">
              <i class="fa fa-refresh"></i>
            </button>
            <button (click)="onDelete(user.id)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
